
.container{
    background-image: url("../../../public/resume.png");
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: 5rem;
    width:auto;
    text-align: center;
    height: 60vh;
    color: rgb(168, 171, 89);
    padding: 1rem;overflow: hidden;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.btn{
    width: 250px;
    background-color: transparent;
    height: 50px;
    border-radius:10px;
    color: rgb(0, 0, 0);
    transition: 0.25s;
}
.btn:hover{
    background: white;
    color: black;
    transition: 0.25s;
}
.h1{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}